change TCP port

According to RFC 6335, ports 49152-65535 are in the dynamic port range, meaning they won't necessarily be available and they aren't meant to be used for well-known services. So LogCabin's current 61023 port is probably not a good one to ship 1.0 with. We should probably register a user port with IANA.

I just submitted an application. Its status will be available here: https://tools.iana.org/public-view/viewticket/817111

Details of the application:
```
Application for a Port Number and/or Service Name

Assignee: Diego Ongaro <...@cs.stanford.edu>
Contact Person: Diego Ongaro <...@cs.stanford.edu>

Resource Request:

    [x] Port Number
    [x] Service Name

Transport Protocols:
    [x] TCP
    [ ] UDP
    [ ] SCTP
    [ ] DCCP

Service Code:         []
Service Name:         [LogCabin]
Desired Port Number:  []
Description:          [LogCabin consensus service]

Reference:
[https://github.com/logcabin/logcabin
This port will be used for client-to-server and server-to-server communication. The protocol currently uses ProtoBuf (v2) messages atop a custom RPC and framing protocol atop TCP. Internal versioning will allow for changing these protocols over time.]

Defined TXT Keys:

1.  If broadcast/multicast is used, how and what for?
[Not used.]

2.  If UDP is requested, please explain how traffic is limited, and whether the
    protocol reacts to congestion.
[Not requested.]

3.  If UDP is requested, please indicate whether the service is solely
    for the discovery of hosts supporting this protocol.
[Not requested.]

4.  Please explain how your protocol supports versioning.
[Low-level message frames have a version field. A special request using version 1 will ask which version the server supports, and the connection will be upgraded form there (this part isn't quite implemented yet but will be before LogCabin 1.0).]

5.  If your request is for more than one transport, please explain in
    detail how the protocol differs over each transport.
[Not requested.]

6.  Please describe how your protocol supports security. Note that presently
    there is no IETF consensus on when it is appropriate to use a second port
    for an insecure version of a protocol.
[The current version does not support security, but a secure version could be added in the future and negotiated using the same port.]

7.  Please explain why a unique port assignment is necessary as opposed to a
    port in range (49152-65535) or existing port.
[This is a new service with a new protocol, so no existing port is suitable. Clients need to connect to LogCabin servers and servers need to connect to each other, so it is appropriate to have a well-known user port number.]

8.  Please explain the state of development of your protocol.
[LogCabin is within weeks of a 1.0 release and within months of production use.]

9.  If SCTP is requested, is there an existing TCP and/or UDP service name or
    port number assignment? If yes, provide the existing service name and port number.
[Not requested.]

10.  What specific SCTP capability is used by the application such that a
    user who has the choice of both TCP (and/or UDP) and SCTP ports for
    this application would choose SCTP? See RFC 4960 section 7.1.
[Not requested.]

11. Please provide any other information that would be helpful in
    understanding how this protocol differs from existing assigned services.
[LogCabin is similar to etcd (ports 2379 and 2380), but uses a different and incompatible protocol format.]
```

They seem to be processing the application, because they asked for this change:
```
OLD:
 Description:          [LogCabin consensus service]

NEW:
 Description:          [LogCabin storage service]
```
And I confirmed the change, of course.

Yay, LogCabin got a TCP port assignment from IANA, port 5254. See https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=logcabin in the IANA registry.

Left to do on this issue: s/61023/5254/g